ModelPC/ModelPC-war/src/conf/xml-resources/web-service-references/ModelPCWS/wsdl/sergio-desktop_8080/ModelPCWS/ModelPCWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="ModelPCWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://sergio-desktop:8080/ModelPCWS/ModelPCWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addConfiguracion">
<part name="parameters" element="tns:addConfiguracion"/>
</message>
<message name="getConfiguracion">
<part name="parameters" element="tns:getConfiguracion"/>
</message>
<message name="getConfiguracionResponse">
<part name="parameters" element="tns:getConfiguracionResponse"/>
</message>
<message name="getCatalogo">
<part name="parameters" element="tns:getCatalogo"/>
</message>
<message name="getCatalogoResponse">
<part name="parameters" element="tns:getCatalogoResponse"/>
</message>
<portType name="ModelPCWS">
<operation name="addConfiguracion">
<input wsam:Action="http://webservice/ModelPCWS/addConfiguracion" message="tns:addConfiguracion"/>
</operation>
<operation name="getConfiguracion">
<input wsam:Action="http://webservice/ModelPCWS/getConfiguracionRequest" message="tns:getConfiguracion"/>
<output wsam:Action="http://webservice/ModelPCWS/getConfiguracionResponse" message="tns:getConfiguracionResponse"/>
</operation>
<operation name="getCatalogo">
<input wsam:Action="http://webservice/ModelPCWS/getCatalogoRequest" message="tns:getCatalogo"/>
<output wsam:Action="http://webservice/ModelPCWS/getCatalogoResponse" message="tns:getCatalogoResponse"/>
</operation>
</portType>
<binding name="ModelPCWSPortBinding" type="tns:ModelPCWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addConfiguracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getConfiguracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCatalogo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ModelPCWS">
<port name="ModelPCWSPort" binding="tns:ModelPCWSPortBinding">
<soap:address location="http://sergio-desktop:8080/ModelPCWS/ModelPCWS"/>
</port>
</service>
</definitions>